<div id="root" class="site-wrapper">
</div>
<script type="text/javascript">
    require.config(
    {
        'baseUrl': './Scripts/dist/app/',
        paths:
        {
            "react": "../../react/react",
            "reactDOM": "../../react-dom/react-dom",
            "reactRouterDom": "../../react-router-dom/react-router-dom"
        }
    });

    require(["app"], function (appInit) {
        
    });
</script>