<div id="root" class="site-wrapper">
</div>
<script type="text/javascript">
    require.config(
    {
        'baseUrl': './Scripts/dist/app/'
    });

    require(["app"], function (appInit) {
        
    });
</script>